{% extends "layout.jinja2" %}

{% block title %}Terms · Gitspatch{% endblock %}

{% block main %}
  <div class="prose mx-auto max-w-7xl items-center justify-between p-6 lg:px-8">
    <h1>Terms and Conditions</h1>
    <p><strong>Last Updated:</strong> 2024-12-30</p>
    <p>
      Welcome to Gitspatch! By accessing or using our services, you agree to
      comply with and be bound by the following Terms and Conditions. Please
      read them carefully. If you do not agree to these terms, you may not use
      our services.
    </p>

    <h2>1. Definitions</h2>
    <ul>
      <li>
        <strong>Service:</strong> "Gitspatch" refers to the cloud-based
        software-as-a-service (SaaS) platform provided by François Voron.
      </li>
      <li>
        <strong>User:</strong> Any individual or entity accessing or using
        Gitspatch.
      </li>
      <li>
        <strong>Account:</strong> The unique login credentials created to access
        the Service.
      </li>
    </ul>

    <h2>2. Acceptance of Terms</h2>
    <ul>
      <li>
        By registering for an account, accessing, or using the Service, you
        agree to be bound by these Terms and Conditions and our Privacy Policy.
      </li>
      <li>
        If you are using the Service on behalf of a business or organization,
        you represent and warrant that you are authorized to bind that entity to
        these terms.
      </li>
    </ul>

    <h2>3. User Obligations</h2>
    <ul>
      <li>
        <strong>Account Information:</strong> Users must provide accurate and
        complete information during registration and keep their account details
        up to date.
      </li>
      <li>
        <strong>Prohibited Activities:</strong>
        <ul>
          <li>
            Misuse of the platform to host or distribute malicious software or
            harmful content.
          </li>
          <li>
            Breach of applicable laws, including but not limited to intellectual
            property laws and data protection regulations.
          </li>
          <li>
            Unauthorized access or attempts to circumvent security measures of
            the Service.
          </li>
        </ul>
      </li>
    </ul>

    <h2>4. Service Usage</h2>
    <ul>
      <li>
        Gitspatch grants you a non-exclusive, non-transferable, revocable
        license to access and use the Service for its intended purpose.
      </li>
      <li>
        Gitspatch reserves the right to modify or discontinue the Service (or
        any part thereof) with or without notice.
      </li>
    </ul>

    <h2>5. Subscription and Payment</h2>
    <ul>
      <li>
        <strong>Plans:</strong> Access to the Service is provided on a
        subscription basis. Detailed pricing and plans are available on our
        website.
      </li>
      <li>
        <strong>Payment:</strong> Payments must be made in advance for each
        subscription period. Non-payment may result in suspension or termination
        of access.
      </li>
      <li>
        <strong>Refund Policy:</strong> Refunds are available for subscriptions
        canceled within the first 14 days of purchase, provided no significant
        use of the Service has occurred. Requests for refunds can be made by
        contacting our support team at support@gitspatch.dev. Refunds will be
        processed within 14 days of approval and issued to the original payment
        method.
      </li>
    </ul>

    <h2>6. Intellectual Property</h2>
    <ul>
      <li>
        <strong>Ownership:</strong> Gitspatch and its content, including but not
        limited to logos, trademarks, and software, are the exclusive property
        of François Voron.
      </li>
      <li>
        <strong>User Content:</strong> Users retain ownership of content
        uploaded or shared via the Service. By using the Service, you grant
        Gitspatch a non-exclusive license to host and process your content
        solely to provide the Service.
      </li>
    </ul>

    <h2>7. Data Protection and Privacy</h2>
    <ul>
      <li>
        Gitspatch will handle personal data in accordance with its Privacy
        Policy.
      </li>
      <li>
        Users must ensure compliance with applicable data protection laws when
        using the Service.
      </li>
    </ul>

    <h2>8. Warranties and Disclaimers</h2>
    <ul>
      <li>
        Gitspatch is provided "as is" without any warranties, express or
        implied, including but not limited to merchantability or fitness for a
        particular purpose.
      </li>
      <li>
        Gitspatch does not guarantee uninterrupted or error-free access to the
        Service.
      </li>
    </ul>

    <h2>9. Limitation of Liability</h2>
    <p>
      To the extent permitted by law, Gitspatch shall not be liable for any
      indirect, incidental, or consequential damages arising from your use of
      the Service.
    </p>

    <h2>10. Termination</h2>
    <ul>
      <li>
        Gitspatch reserves the right to suspend or terminate access to the
        Service for any breach of these Terms.
      </li>
      <li>
        Users may terminate their accounts by contacting support or through
        their account settings.
      </li>
    </ul>

    <h2>11. Governing Law</h2>
    <p>
      These Terms shall be governed by the laws of France. Any disputes arising
      out of these Terms shall be resolved in the courts of France.
    </p>

    <h2>12. Changes to Terms</h2>
    <p>
      Gitspatch reserves the right to update or modify these Terms at any time.
      Continued use of the Service constitutes acceptance of the updated Terms.
    </p>

    <h2>13. Contact Information</h2>
    <p>
      If you have any questions or concerns regarding these Terms, please
      contact us at support@gitspatch.dev
    </p>
  </div>
{% endblock %}
