{% extends "app/layout.jinja2" %}

{% import "macros/icons.jinja2" as icons %}

{% block content %}
{% if total == 0 %}
  <div class="text-center">
    {{ icons.bolt('mx-auto size-12 text-gray-400') }}
    <h3 class="mt-2 text-sm font-semibold text-gray-900">No webhooks</h3>
    <p class="mt-1 text-sm text-gray-500">Get started by creating a new webhook.</p>
    <div class="mt-6">
      <a href="{{ url_for('app:webhooks:create') }}" class="inline-flex items-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
        <svg class="-ml-0.5 mr-1.5 size-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
          <path d="M10.75 4.75a.75.75 0 0 0-1.5 0v4.5h-4.5a.75.75 0 0 0 0 1.5h4.5v4.5a.75.75 0 0 0 1.5 0v-4.5h4.5a.75.75 0 0 0 0-1.5h-4.5v-4.5Z" />
        </svg>
        New Webhook
      </a>
    </div>
  </div>
{% else %}
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <p class="mt-2 text-sm text-gray-700">Here is the list of all your configured webhooks triggering GitHub Actions workflows.</p>
    </div>
    <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
      <a href="{{ url_for('app:webhooks:create') }}" class="block rounded-md bg-indigo-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Add webhook</a>
    </div>
  </div>
  <div class="mt-8 flow-root">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <table class="min-w-full divide-y divide-gray-300">
          <thead>
            <tr>
              <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">Repository</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Workflow ID</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Last status</th>
              <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-0">
                <span class="sr-only">Edit</span>
              </th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200">
          {% for webhook in webhooks %}
            <tr>
              <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0">
                <a class="text-indigo-600 hover:text-indigo-900" href="{{ url_for('app:webhooks:get', id=webhook.id) }}">{{ webhook.repository_full_name }}</a>
              </td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                <a class="text-indigo-600 hover:text-indigo-900" href="{{ webhook.workflow_url }}">{{ webhook.workflow_id }}</a>
              </td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">OK</td>
              <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-0">
                <a href="#" class="text-indigo-600 hover:text-indigo-900">Edit<span class="sr-only">, {{ webhook.id }}</span></a>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endif %}
{% endblock %}
