{% extends "app/layout.jinja2" %}

{% import "macros/forms.jinja2" as forms %}

{% block content %}
<form method="post" action="{{ url_for('app:webhooks:create') }}" novalidate>
  <div class="space-y-12">
    <div class="grid grid-cols-1 gap-x-8 gap-y-10 border-b border-gray-900/10 pb-12 md:grid-cols-3">
      <div>
        <h2 class="text-base/7 font-semibold text-gray-900">Basics</h2>
        <p class="mt-1 text-sm/6 text-gray-600">Select a repository, a workflow and we'll be good to go!</p>
      </div>

      <div class="grid max-w-2xl grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6 md:col-span-2">
        <div class="sm:col-span-4">
          {{ forms.form_field(form.repository) }}
        </div>

        <div class="sm:col-span-4">
          {{ forms.form_field(form.workflow_id) }}
        </div>

      </div>
    </div>
  </div>

  <div class="mt-6 flex items-center justify-end gap-x-6">
    <a href="{{ url_for('app:index') }}" class="text-sm/6 font-semibold text-gray-900">Cancel</a>
    <button type="submit" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Save</button>
  </div>
</form>
{% endblock %}
