{% extends "app/layout.jinja2" %}
{% import "macros/buttons.jinja2" as buttons %}
{% import "macros/forms.jinja2" as forms %}

{% block content %}
  <div class="space-y-10 divide-y divide-gray-900/10">
    <div class="grid grid-cols-1 gap-x-8 gap-y-8 md:grid-cols-3">
      <div class="px-4 sm:px-0">
        <h2 class="text-base/7 font-semibold text-gray-900">Basics</h2>
        <p class="mt-1 text-sm/6 text-gray-600">
          You can change the workflow ID.
        </p>
      </div>

      <form
        method="post"
        action="{{ url_for('app:webhooks:get', id=webhook.id) }}"
        class="bg-white shadow-sm ring-1 ring-gray-900/5 sm:rounded-xl md:col-span-2"
      >
        <div class="px-4 py-6 sm:p-8">
          <div
            class="grid max-w-2xl grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6"
          >
            <div class="sm:col-span-4">
              {{ forms.form_field(form.workflow_id) }}
            </div>
          </div>
        </div>
        <div
          class="flex items-center justify-end gap-x-6 border-t border-gray-900/10 px-4 py-4 sm:px-8"
        >
          <button
            type="submit"
            class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
          >
            Save
          </button>
        </div>
      </form>
    </div>

    <div class="grid grid-cols-1 gap-x-8 gap-y-8 pt-10 md:grid-cols-3">
      <div class="px-4 sm:px-0">
        <h2 class="text-base/7 font-semibold text-gray-900">Danger zone</h2>
        <p class="mt-1 text-sm/6 text-gray-600">
          Regenerate secret URL or delete your webhook.
        </p>
      </div>

      <div
        class="bg-white shadow-sm ring-2 ring-red-500 sm:rounded-xl md:col-span-2"
      >
        <div class="px-4 py-6 sm:p-8">
          <div
            class="grid max-w-2xl grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6"
          >
            <div class="sm:col-span-3">
              <button
                type="button"
                class="w-full rounded-md bg-red-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600"
                hx-get="{{ url_for('app:webhooks:token', id=webhook.id) }}"
                hx-target="#modal"
              >
                Regenerate secret URL
              </button>
            </div>
            <div class="sm:col-span-3">
              <button
                type="button"
                class="w-full rounded-md bg-red-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600"
                hx-get="{{ url_for('app:webhooks:delete', id=webhook.id) }}"
                hx-target="#modal"
              >
                Delete the webhook
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="modal"></div>
{% endblock %}
